@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local('Russo One'), local('RussoOne-Regular'), url(russo_one.woff) format('woff');
}

html{
    background: url(bg.png) bottom;
    height: 90px;
}

body{
    height: 90px;
    margin: 0 auto;
    width: 1015px;
    font: 12px/1.33 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#left {
    float: left;
    width: 200px;
    background: url(cispa.png) no-repeat left;
    min-height: 90px;
    padding: 0 0 0 175px;
}

#left h1 {
    color: #FFFFFF;
    font-family: 'Russo One';
    font-size: 44px;
    text-shadow: 1px 1px 0 #000;
    padding-top: 40px;
    line-height: 100%;
}

#left h1 .hidden {
    display: none;
}

#right {
    float: left;
    width: 640px;
    min-height: 90px;
}

#right h2 {
    width: 640px;
    height: 25px;
    margin-top: 5px;
    text-align: center;
    color: #EAC704;
    font-family: 'Russo One';
    font-size: 21px;
    line-height: 100%;
    text-shadow: 1px 1px 0 #333333;
}

#right form {
    width: 640px;
    height: 40px;
    margin-top: 10px;
    float: left;
    display: block;
    text-align: center;
}

input[type="text"]{
    color: #292929;
    border: 1px solid #FFF;
    background: #FFF;
    padding: 0 10px;
    width: 128px;
    margin: 0;
    outline: 0;
    font: 13px/1.85 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    min-height: 25px;
}
input[disabled]{
    color: #818181;
}
button[disabled="disabled"]{
    cursor: default;
    background: #999;
}
::-webkit-input-placeholder{
    color: #818181;
}
:-moz-placeholder{
    color: #818181;
}
:-ms-input-placeholder{
    color: #818181;
}

.field{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

button{
    display: inline-block;
    background: #14a767;
    border: 0;
    color: #FFF;
    height: 40px;
    padding: 0px 10px 0;
    background: -moz-linear-gradient(top, #14a767 0%, #09834e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14a767), color-stop(100%,#09834e));
    background: -webkit-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: -o-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: -ms-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: linear-gradient(top, #14a767 0%,#09834e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14a767', endColorstr='#09834e',GradientType=0 );
    font: 22px/1.72 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#button_email:before{
    content: url(mail.png);
    margin-right: 4px;
    position: relative;
    top: 3px;
}

p{
    font-size: 12px;
    color: #b8b8b8;
    padding-top: 6px;
}
