@import url(http://fonts.googleapis.com/css?family=Bevan);

html{
    background: url(bg.png) repeat-x bottom;
    height: 90px;
}

body{
    height: 90px;
    margin: 0 auto;
    width: 1015px;
    font: 12px/1.33 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

a{
    color: #23c981;
}

.header{
    float: left;
    width: 480px;
    background: url(logo.png) no-repeat left;
    min-height: 72px;
    padding: 18px 0 0 70px;
}

.header p{
    color: #DDD;
}

h1{
    font: 16px/1 'Bevan', cursive;
    color: #eac704;
    text-shadow: 1px 1px 0 #000;
}
    h1 strong{
        color: #FFF;
    }

input[type="email"],
input[type="tel"],
input[type="text"]{
    color: #292929;
    border: 1px solid #FFF;
    background: #FFF;
    padding: 0 10px;
    width: 128px;
    margin: 0;
    outline: 0;
    font: 13px/1.85 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
    #id_email{
        width: 125px;
    }
    #id_phone{
        width: 100px;
    }
    #id_country{
            width: 118px;
    }

input[disabled]{
    color: #818181;
}
button[disabled="disabled"]{
    cursor: default;
    background: #999;
}
::-webkit-input-placeholder{
    color: #818181;
}
:-moz-placeholder{
    color: #818181;
}
:-ms-input-placeholder{
    color: #818181;
}

form{
    float: right;
    display: block;
    width: 465px;
    margin-top: 19px;
}

.field{
    float: left;
    margin-right: 5px;
    position: relative;
    height: 30px;
}
    .field a{
        color: #FFF;
        line-height: 10px;
    }
        .field a:hover{
            color: #CCC;
        }
    #country{
        clear: left;
        width: 274px;
    }
    #privacy{
        float: left;
    }
        #privacy a{
            color: #FFF;
            font-weight: bold;
        }

button{
    display: inline-block;
    background: #14a767;
    border: 0;
    color: #FFF;
    height: 26px;
    padding: 0px 10px 0;
    background: -moz-linear-gradient(top, #14a767 0%, #09834e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14a767), color-stop(100%,#09834e));
    background: -webkit-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: -o-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: -ms-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: linear-gradient(top, #14a767 0%,#09834e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14a767', endColorstr='#09834e',GradientType=0 );
    font: 14px/1.72 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
    #button_email:before{
        content: url(mail.png);
        margin-right: 4px;
        position: relative;
        top: 3px;
    }
    #button_call:before{
        content: url(phone.png);
        margin-right: 2px;
        position: relative;
        top: 3px;
    }


/* Adjustments for the United States (who should not have the option to call)
   their delegates, since they are already opposed to expanding the ITU's power */
body.us{}
    body.us .header{
        padding-right: 50px;
    }
    body.us form{
        width: 415px;
    }
    body.us #call,
    body.us #phone{
        display: none;
    }
    body.us #id_email{
        width: 252px;
    }
    body.us #button_email{
        width: 90px;
    }
    body.us #privacy{
        width: 90px;
    }


input.error{
    border-color: red;
    color: red;
}
    input.error::-webkit-input-placeholder {
        color: red;
    }
    input.error:-moz-placeholder {
        color: red;
    }
    input.error:-ms-input-placeholder {
        color: red;
    }


p{
    font-size: 12px;
    color: #b8b8b8;
    padding-top: 6px;
}