{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6"> <![endif]-->
<!--[if IE 7]> <html class="ie7">  <![endif]-->
<!--[if IE 8]> <html class="ie8">  <![endif]-->
<!--[if IE 9]> <html class="ie9">  <![endif]-->
<!--[if gt IE 9]><!-->
<html> 
<!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% comment %}Translators: Page Title{% endcomment %}
        <title>{% trans "Defund the NSA's blanket surveillance" %}</title>
        <link href="{% static 'css/src/reset.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'campaigns/defundnsa/modal/modal.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <script type="text/javascript">
        function loadAsync( scriptURL ) {
            var scriptNode = document.createElement('script'); scriptNode.type = 'text/javascript'; scriptNode.async = true;
            scriptNode.src = scriptURL;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore( scriptNode, s );
            }

        loadAsync( "http://use.edgefonts.net/droid-serif;league-gothic;carter-one.js" );
    </script>
    <body>
        <div id="header"></div>
        <div id="content">
            Tomorrow, US Congress is voting on an amendment that would
            <a href="http://defundthensa.com/" target="_blank">block funding for NSA
            programs using Section 215 of the Patriot Act</a> to mass collect the call records
            of innocent Americans.
            <br/>
            <br/>
            A win tomorrow may start a chain reaction that leads to real reform &mdash;
            <a href="http://defundthensa.com/" target="_blank">but it won't happen unless we speak up.</a>
            We have one day to convince Congress to vote to restore our privacy!
            <br/>
            <a id="button" href="http://defundthensa.com/" target="_blank">Act Now!</a>
            <a id="defundthensa" href="http://defundthensa.com/" target="_blank">DefundTheNSA.com</a>
            <br/>
            <span id="international">Not in the United States? <a href="https://www.eff.org/nsa-spying/" target="_blank">Consider supporting EFF's fight against the unwarranted surveillance</a></span>
        </div>
    </body>
</html>
