{% extends "base.html" %}

{% block main %}

    <div class="wrap" id="intro">
        <h1 id="logo">Internet Defense League</h1>
        <h2 class="montserrat">Join our campaigns for Internet freedom!</h2>
        <p class="update"><strong>UPDATE!</strong> The Cat Signal is launching Tuesday, March 19th to sound the alarm about CISPA, the bill that could END privacy. <a href="http://www.cispaisback.org">Learn more here</a>. Get the code below to take part. <a href="mailto:team@fightforthefuture.org">Contact us with any questions</a></p>
        <div class="indent dark large">
            <h3 class="montserrat">Get the code for your site:</h3>
            <textarea name="output" readonly>{% include "include.html" %}</textarea>
        </div>

        {% for variant in variants %}
            <div class="small {% if forloop.first %}indented light{% endif %} {% cycle "lefty" "righty" %}">
                <span>
                    <input type="radio" name="variant" id="variant_{{ variant.slug }}" value="{{ variant.slug }}" {% if forloop.first %}checked="checked"{% endif %} />
                    <label for="variant_{{ variant.slug }}" class="montserrat">{{ variant.name }}</label>
                </span>
                <img src="{{ SECURE_STATIC_URL }}img/{{ variant.slug }}.png" alt="{{ variant.name }} Screenshot" />
            </div>
            {% if not forloop.last %}
                <span class="circle">OR</span>
            {% endif %}
        {% endfor %}

        <div class="row biggie">

            <div class="light indented small">
                    <span class="inputs">
                        <input type="radio" checked="checked" name="campaign" id="all" value="" />
                        <label for="all" class="montserrat">All league campaigns</i>
                    </span>
                    <p class="description">Turns itself off after the campaign, and activates automatically for the next one.</p>
                    <!-- <p class="montserrat"><a href="">Instructions for testing</a></p> -->
            </div>

            <span class="circle">OR</span>

            <div class="row biggie righty">
                <div class="small">
                    <span class="inputs">
                        <input type="radio" name="campaign" id="single" value="" />
                        <label for="single" class="montserrat">Just for CISPA</label>
                    </span>
                    <p class="description">Code is live as soon as you add it, but you'll have to update it for each new campaign.</p>
                    <fieldset style="display: none;">
                        <label for="campaign_choice">Campaign:</label>
                        <select id="campaign_choice" name="campaign_choice">
                            <option value="" selected="selected"></option>
                            {% for campaign in campaigns %}
                                <option value="{{ campaign.slug }}">{{ campaign.name }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                </div>
            </div>

</div>



        <div class="update" style="width: 750px; margin: 0 auto; padding-top: 30px;">
        <h2 id="instructions">Instructions</h2>
        <p style="margin-bottom: 10px; margin-top: 10px; font-size: 14px; line-height: 1.5;"><strong>For most websites:</strong> Simply paste the code just below the <body> tag of the page.</p>
            
            <p style="margin-bottom: 10px;font-size: 14px; line-height: 1.5;"><strong>Tumblr</strong>: Go to your settings by clicking the gear on the toolbar at the top of your Tumblr feed, then hit the 'customize' button under the 'Theme' section. Once on the customization page, click the "edit HTML" button. Scroll through the HTML code looking for the '&lt;body&gt;' tag. Once you find it, paste the code right beneath it, click "update preview" at the top of the code, and then click "save".
</p>
        <p style="margin-bottom: 10px; margin-top: 10px;font-size: 14px; line-height: 1.5;"><strong>Self-hosted WordPress.org blogs/pages:</strong> Open up ‘footer.php’ and paste the code beneath the &lt;body&gt; tag. </p>
        </div>



						    	<div id="badges" style="margin-left: -40px; float: left; overflow: auto;"><div class="thanks" style="font-family: 'Montserrat', sans-serif; text-align: center; margin-top: 60px; padding-left: 50px;">
										<h2 style="width: 620px; margin: 0 auto 20px; font-size: 18pt;">Tell the world that you are a member of the league</h2>
						      	</div>

						      	<div id="note"><p id="note_txt" style="padding-top: 10px; margin-left: 127px;">The badge code lets us measure the league's reach.  <a id="note_txt" href="#">Privacy policy</a></p></div>

						      <div class="blue_pod"><p>Super Badge</p><img style="margin-left: -45px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/super_badge_example.png" alt="Footer Placement" />
						      	<p class="caption"><img style="margin-right: 7px; margin-bottom: -5px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/arrow_down.png" alt="arrow" />Select and copy this code</p>
						      	<textarea class="code" type="text" name="code" /><a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/super_badge.png" alt="Member of The Internet Defense League" /></a></textarea>      
						      </div>

						      <div class="blue_pod"><p>Shield Badge</p><img style="margin-left: 14px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/shield_badge_example.png" alt="Footer Placement" />
						      	<p class="caption"><img style="margin-right: 7px; margin-bottom: -5px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/arrow_down.png" alt="arrow" />Select and copy this code</p>
						      	<textarea class="code" type="text" name="code" /><a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/shield_badge.png" alt="Member of The Internet Defense League" /></a></textarea>         
						      </div>

						      <div class="blue_pod"><p>Footer Badge</p><img style="margin-left: 14px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/footer_browser.png" alt="Footer Placement" />
								<p class="caption"><img style="margin-right: 7px; margin-bottom: -5px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/arrow_down.png" alt="arrow" />Select and copy this code</p>
<textarea class="code" type="text" name="code" /><a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/footer_badge.png" alt="Member of The Internet Defense League" /></a></textarea>
</div>

						      <div class="blue_pod"><p>Side Bar Badge</p><img style="margin-left: -45px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/sidebar_browser.png" alt="Side Bar Badge" />
						      <p class="caption"><img style="margin-right: 7px; margin-bottom: -5px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/arrow_down.png" alt="arrow" />Select and copy this code</p>
<textarea class="code" type="text" name="code" /><a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/side_bar_badge.png" alt="Member of The Internet Defense League" /></a></textarea>						      </div>

						      <div class="blue_pod"><p>Ribbon (Left Side)</p><img style="margin-left: 14px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/leftside_browser.png" alt="Ribbon (Left Side)" />
						      <p class="caption"><img style="margin-right: 7px; margin-bottom: -5px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/arrow_down.png" alt="arrow" />Select and copy this code</p>
<textarea class="code" type="text" name="code" /><a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/banner_left.png" alt="Member of The Internet Defense League" /></a></textarea>						      </div>

						      <div class="blue_pod"><p>Ribbon (Right Side)</p><img style="margin-left: -45px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/rightside_browser.png" alt="Ribbon (Right Side)" /><p class="caption"><img style="margin-right: 7px; margin-bottom: -5px;" src="{{ SECURE_STATIC_URL }}img/idl_resources/arrow_down.png" alt="arrow" />Select and copy this code</p>
<textarea class="code" type="text" name="code" /><a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/banner_right.png" alt="Member of The Internet Defense League" /></a></textarea>						      </div>
						</div></div>

    </div>

    <div class="step gray call-to-action" >

        <div class="column">
            <h3>What's in the works?</h3>
            <ul class="works">
                <li>Optional code that activates automatically according to criteria you specify (e.g. SOPA returns).</li>
                <li>Analytics to track the total size and reach of the network.</li>
                <li>A collaborative system for identifying threats and opportunities.</li>
            </ul>
        </div>

        <div class="column">
            <h3>Are you a developer?</h3>
            <p>Join the project to build the flexible JavaScript tools that make the Defense League tick.</p>
            
            
            <ul class="footer-nav">
                <li><a href="https://github.com/fightforthefuture/internet_defense_league" class="dev"><img src="{{ SECURE_STATIC_URL }}img/idl_resources/github.png" alt="GitHub"> <span>GITHUB</span></a></li>
                <li><a href="https://groups.google.com/forum/?fromgroups#!forum/internetdefenseleague" class="dev"><img src="{{ SECURE_STATIC_URL }}img/idl_resources/google.png" alt="Google Group"><span>GOOGLE GROUP</span></a></li>
                <li><a href="https://www.pivotaltracker.com/projects/453967" class="dev"><img src="{{ SECURE_STATIC_URL }}img/idl_resources/tracker.png" alt="Pivotal Tracker"> <span>TRACKER</span></a></li>
                <li><a href="https://twitter.com/Defense_League" class="dev"><img src="{{ SECURE_STATIC_URL }}img/idl_resources/twitter.png" alt="Twitter"><span>TWITTER</span></a></li>
            </ul>
        </div>

        <div class="column" style="margin-left: 0px; width: 220px;">
            <h3>Who's behind it?</h3>
            <p><a href="http://fightforthefuture.org">Fight for the Future,</a> the authors of several different SOPA blackout tools, and a growing group of volunteers, including <a href="https://www.cloudflare.com/">Cloudflare.</a> Be in touch.</p><a href="http://fightforthefuture.org"><img src="{{ SECURE_STATIC_URL }}img/idl_resources/fftf.logo.png" style="margin-top: 20px;" alt="Fight for the Future"></a>
            <h3 id="touch">Get in touch</h3>
            <p>If you run a big site and want to get in touch or if you want to get more involved, email us at <a href="mailto:team@fightforthefuture.org?Subject=IDL%20Big%20Site%20Contact">team@fightforthefuture.org.</a></p>
            <p style="display: none;"><a href="http://fightforthefuture.org/privacy/">Privacy Policy</a></p>
        </div>

    </div>

{% endblock main %}
