<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/banner.css">
    </head>
    <body>
        <div id="container">
            <p>The <strong>Internet Defense League</strong> launches <strong>Today</strong>. <span>And we&#39;re a member!</span></p>
            <form name="act" method="POST" action="//nt.salsalabs.com/save" accept-charset="utf-8" target="_blank">
                <label for="Email">Email</label>
                <input type="text" name="Email" placeholder="Email Address">
                <input type="hidden" name="email_trigger_KEYS" value="3">
                <input type="hidden" name="organization_KEY" value="-501">
                <input type="hidden" name="redirect" value="http://internetdefenseleague.org/confirm"> 
                <input type="hidden" name="object" value="supporter">
                <input type="hidden" name="link" value="groups">
                <input type="hidden" name="linkKey" value="8">
                <input type="hidden" name="ip" id="signup_ip" value="">
                <input type="hidden" name="user_agent" id="user_agent" value="">
                <input type="hidden" name="Receive_Email" value="10">
                <button type="submit"><span>Join</span></button>
            </form>
            <a class="btn" target="_blank" href="http://internetdefenseleague.org/">Learn More</a>
        </div>
        <script src="../../js/frame.js"></script>
    </body>
</html>
