#idl_alert{
    border: 0;
    position: fixed;
    text-decoration: none;
}
    .idl_ie_quirks #idl_alert{
        position: absolute;
    }

html.idl_banner{
    padding-top: 90px;
}

html.idl_banner #idl_alert{
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 -1px 4px 0 #000;
    box-shadow: 0 -1px 4px 0 #000;
}
html.idl_banner #idl_close{
    display: none;
}

html.idl_modal #idl_alert{
    width: 600px;
    height: 1600px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    z-index: 2147483647;
    background: #FFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

#idl_backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2147483646;
    background: #000;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
    .idl_ie_quirks #idl_backdrop{
        position: absolute;
    }
    html.idl_banner #idl_backdrop{
        display: none;
    }


#idl_close{
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 269px;
    z-index: 2147483647;
    width: 20px;
    height: 20px;
    display: block;
    font: bold 20px/1 'Helvetica Neue', 'Helvetica', sans-serif;
    overflow: hidden;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}
    .idl_ie_quirks #idl_close{
        zoom: 1;
        position: absolute;
    }


	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
	html.idl_modal #idl_alert{display: none;
	}

	@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {
	html.idl_modal #idl_alert{display: none;}