{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6"> <![endif]-->
<!--[if IE 7]> <html class="ie7">  <![endif]-->
<!--[if IE 8]> <html class="ie8">  <![endif]-->
<!--[if IE 9]> <html class="ie9">  <![endif]-->
<!--[if gt IE 9]><!-->
<html> 
<!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% comment %}Translators: Page Title{% endcomment %}
        <title>{% trans "Fix The CFAA" %}</title>
        <link href="{% static 'campaigns/fixthecfaa/banner/banner.css' %}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{% static 'campaigns/fixthecfaa/jquery.1.7.js' %}"></script>
    </head>
    <body>
		<div id="dp_aarons_law_banner_wrap">
			<div id="dp_aarons_law_banner" class="banner-container">
				<div class="content">
					<div class="banner-aaron">
						<a href="http://fixthecfaa.com" target="_parent"><img src="{% static 'campaigns/fixthecfaa/banner/banner-aaron.png' %}" alt="Aaron Swartz"></a>
					</div>
					<form class="banner-form" action="http://act.demandprogress.org/act/" method="post" target="_top">
						<input type="hidden" name="utf8" value="✔">
						<input type="hidden" name="page" value="cosponsor_aarons_law_idl">
						<input type="hidden" name="action_referer" value="" id="id_referer">
						<input type="hidden" name="lists" value="1">
						<p>
							Show your support for "Aaron's Law" and demand inquiry into his prosecution! <a href="http://www.fixthecfaa.com" target="_parent">[More info]</a>
						</p>
						<div class="dp-right">
							<div class="dp-line">
								<input type="text" id="full_name" name="name" placeholder="Full name" required=""> <input type="text" id="email_addr" name="email" placeholder="Email address" required="">
								<div style="clear:both"></div>
							</div>
							<div class="extra dp-line dp_open" style="display: block;">
								<input id="id_address1" type="text" placeholder="Address" value="Address" name="address1" required="">
								<input id="id_zip" type="text" name="zip" placeholder="Zip Code" value="Zip Code" required="">
							</div>
							<input type="hidden" value="Subject: Cosponsor Aaron's LawPlease cosponsor Aaron's Law -- the reform of the Computer Fraud and Abuse Act that's being introduced by Senator Wyden and Representative Lofgren. It is overly broad and ineffectual. Let's make sure that what happened to Aaron Swartz never happens to anybody ever again." name="aciton_comment"> <input type="image" src="{% static 'campaigns/fixthecfaa/banner/banner-submit.png' %}" class="dp-form-submit"> <a href="http://internetdefenseleague.org/" title="Internet Defense League" target="_parent"><img src="{% static 'campaigns/fixthecfaa/banner/cat_face_white_40_50.png' %}" border="0" class="cat"></a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type='text/javascript' charset='utf-8'>
			$(document).ready(function() {
				$('#dp_aarons_law_banner input[type=text]').each(function(){
        		$(this).val($(this).attr('placeholder'));
		      });
		      $('#dp_aarons_law_banner').on('focus', 'input[type=text]', function(){
		        if($(this).val() === $(this).attr('placeholder')) $(this).val('');
		      })
		      .on('blur', 'input[type=text]', function(){
		        if($(this).val() === '') $(this).val($(this).attr('placeholder'));
		      });
			});
		</script>
  	</body>
</html>