@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local('Russo One'), local('RussoOne-Regular'), url(russo_one.woff) format('woff');
}

html{
    background-image: url(bg.png);
}

body{
    font: 12px/1.33 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#header {
    height: 180px;
    width: 600px;
    background: url(cispa.png) no-repeat left;
    padding: 0 0 0 350px;
}

h1 {
    color: #FFFFFF;
    font-family: 'Russo One';
    font-size: 58px;
    text-shadow: 1px 1px 0 #000;
    padding-top: 108px;
    line-height: 100%;
}

h1 .hidden {
    display: none;
}

h2 {
    width: 560px;
    margin-top: 5px;
    text-align: center;
    color: #EAC704;
    font-family: 'Russo One';
    font-size: 28px;
    line-height: 120%;
    text-shadow: 1px 1px 0 #333333;
    padding: 0 20px;
}

#content {
    width: 560px;
    padding: 20px 0;
}

p#international {
    line-height: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    width: 560px;
    padding: 0 20px;
}

a {
    color: #21e18d;
}

input[type="text"]{
    color: #292929;
    border: 1px solid #afafaf;
    background: #FFF;
    padding: 0 15px;
    width: 130px;
    margin: 0;
    outline: 0;
    font: 18px/2.67 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    min-height: 50px;
}

input[disabled]{
    color: #818181;
}
button[disabled="disabled"]{
    cursor: default;
    background: #999;
}
::-webkit-input-placeholder{
    color: #818181;
}
:-moz-placeholder{
    color: #818181;
}
:-ms-input-placeholder{
    color: #818181;
}

form{
    display: block;
    width: 612px;
    text-align: center;
}

.row{
    padding: 0 32px 12px;
}

.row:before,.row:after{content:"\0020";display:block;height:0;overflow:hidden;}
.row:after{clear:both;}
.row{zoom:1;}

.field{
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
}

button{
    display: inline-block;
    background: #14a767;
    border: 0;
    color: #FFF;
    padding: 0 25px;
    background: -moz-linear-gradient(top, #14a767 0%, #09834e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14a767), color-stop(100%,#09834e));
    background: -webkit-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: -o-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: -ms-linear-gradient(top, #14a767 0%,#09834e 100%);
    background: linear-gradient(to bottom, #14a767 0%,#09834e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14a767', endColorstr='#09834e',GradientType=0 );
    font: 22px/2.38 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

input.error{
    border-color: red;
    color: red;
}
    input.error::-webkit-input-placeholder {
        color: red;
    }
    input.error:-moz-placeholder {
        color: red;
    }
    input.error:-ms-input-placeholder {
        color: red;
    }
